// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';


//Hover
#btn-search:hover {
    color: #cf01b7;
}

.form-control:focus {
    box-shadow: none;
    border-color: lightgray;
}

//CONTENT
body{
    background-color: white;
    width: 90%;
    margin: auto;
}

.navbar {
    width: 90%;
    position: fixed;
}

.apt-container {
    background-color:white;
    margin: auto;
}

.content {
    width: 50%;
    margin: auto;
    padding: 10px;
}

#btn-search {
    background-color: white;
    border-color: white;
    border: 1px solid lightgray;
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;
    line-height: 30px;
}

.fa-search {
    font-size: 18px;
}

.city-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 66px;
}

.form-control {
    width: 350px;
    height: 40px;
    border: 1px solid lightgray;
    border-right: 0;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 18px;    
}

.box-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    .single-apt {
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 400px;
        background-color: darkred;
        margin: 15px;
        border-radius: 20px;
        
        .house-image {
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
        }
    }
    #apt1, #apt4 {
        box-shadow: 5px 5px 17px -8px rgba(0,0,0,1); -moz-box-shadow: 5px 5px 17px -8px rgba(0,0,0,1); box-shadow: 5px 5px 17px -8px rgba(0,0,0,1);
    }
    #apt2, #apt5 {
        box-shadow: 0px 5px 17px -8px rgba(0,0,0,1); -moz-box-shadow: 0px 5px 17px -8px rgba(0,0,0,1); box-shadow: 0px 5px 17px -8px rgba(0,0,0,1);
    }
    #apt3, #apt6 {
        box-shadow: -5px 5px 17px -8px rgba(0,0,0,1); -moz-box-shadow: -5px 5px 17px -8px rgba(0,0,0,1); box-shadow: -5px 5px 17px -8px rgba(0,0,0,1);
    }
    
}





