// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

//WELCOME-PAGE
//Hover
body:hover {
    cursor: default;
}

#btn-search:hover {
    color: lightgray;
}

.fa-search:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.form-control-landing:focus {
    box-shadow: none;
    border-color: lightgray;
    outline: none;
}

.single-apt:hover {
    cursor: pointer;
    opacity: 80%;
}

.button-announce:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.carousel-control-next,
.carousel-control-prev {
    position: static;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;  
}
//CONTENT
body{
    background-color: white;
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 1010;
    .container {
        width: 100%;
    }
}

.jumbo {
    height: 600px;
    width: 100%;
    margin-top: 44px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.apt-container {
    background-color:white;
    margin: auto;
}

.content {
    width: 50%;
    margin: auto;
}

#form-copy {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#btn-search {
    background-color: white;
    border-color: white;
    border: 1px solid lightgray;
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 50px;
    line-height: 40px;
}


.fa-search {
    font-size: 18px;
    transition: 0.5s;
}

.fa-angle-left, .fa-angle-right {
    font-size: 50px;
    color:black;
}

.city-search {
    width: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.container-title {
    h1 {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }    
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: .5rem;
  }

.form-control-landing {
    width: 70%;
    height: 50px;
    border: 1px solid lightgray;
    border-right: 0;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;padding-left: 10px;
    font-size: 18px;   
}

.box-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    .carousel {
        width: 100%;
      }
    .slide-box {
        display: flex;
        justify-content: space-between;
        .single-apt {
            display: flex;
            flex-direction: column;
            height: 330px;
            width: 240px;
            background-color: rgba(64, 64, 64, 1);
            margin: 10px;
            border-radius: 20px;
            h5, p {
                color: white;
            }
            .house-image {
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                height: 230px;
                width: 240px;
            }
        }   
    }
    #apt1 {
        box-shadow: 5px 5px 17px -8px rgba(0,0,0,1); -moz-box-shadow: 5px 5px 17px -8px rgba(0,0,0,1); box-shadow: 5px 5px 17px -8px rgba(0,0,0,1);
    }
    #apt2, #apt3 {
        box-shadow: 0px 5px 17px -8px rgba(0,0,0,1); -moz-box-shadow: 0px 5px 17px -8px rgba(0,0,0,1); box-shadow: 0px 5px 17px -8px rgba(0,0,0,1);
    }
    #apt4 {
        box-shadow: -5px 5px 17px -8px rgba(0,0,0,1); -moz-box-shadow: -5px 5px 17px -8px rgba(0,0,0,1); box-shadow: -5px 5px 17px -8px rgba(0,0,0,1);
    }
}
#details {
    padding-top: 60px;
    padding-bottom: 60px;
}

.sponsor-title {
    padding-bottom: 30px;
}

.container {
    width: 100%;
    .details {
        padding: 0;
        list-style: none;
        li {
            text-align: center;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h4 {
                font-weight: bold;
            }
            .details-icon {
                width: 40px;
                height: 40px;
                padding-bottom: 10px;
            }
            .details-text {
                width: 260px;
            }
        }
    }
}


#announce {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .container-announce {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 600px;
        .announce-title {
            width: 90%;
            h2 {
                color: black;
            }
        }
        .button-announce {
            width: 140px;
            height: 50px;
            margin-top: 30px;
            border-radius: 25px;
            line-height: 35px;
            font-size: 20px;
            color: lightgray;
            background-color: rgba(0, 0, 0, 0.6);;
            border: none;
            transition: 0.5s;
        }
    }
}

//MEDIAQUERY

@media (max-width: 576px){
    .single-apt {
        height: 300px;
        width: 220px;
        background-color: rgba(64, 64, 64, 1);
        margin: 5px;
        border-radius: 20px;
        h5, p {
            color: white;
        }
        .house-image {
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            height: 200px;
            width: 220px;
        }
    } 
}
//WELCOME-PAGE

//LOGIN-PAGE

#login-container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow-x: hidden;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    margin-top: 60px;
}

.form-control {
    width: 100%;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding-left: 10px;
    font-size: 18px;   
}
  
  
 
  


