// Fonts
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');


// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

//WELCOME-PAGE
//Hover
body{
    font-family: 'Sen', sans-serif;
}

body:hover {
    cursor: default;
}

#btn-search:active,
#btn-search:hover {
    color: #E58788;;
}

.fa-search:active,
.fa-search:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.form-control-landing:active,
.form-control-landing:focus,
.form-control-search:active,
.form-control-search:focus {
    box-shadow: none;
    border-color: lightgray;
    outline: none;
}


.button-announce:active,
.button-announce:hover {
    color:#E58788;
    transform: scale(1.1);
    transition: 0.5s;
}

.carousel-control-next,
.carousel-control-prev {
    position: static;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;  
}
//CONTENT
body{
    background-color: white;
    width: 100vw;
    height: 100vh;
    margin: auto;
    // font-size: 12px;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    top:0;
    left: 0;
    z-index: 1010;
    .container {
        width: 100%;
    }
}

.jumbo {
    height: 600px;
    width: 100%;
    margin-top: 44px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.apt-container {
    background-color:white;
    margin: auto;
}

.content {
    width: 50%;
    margin: auto;
}

#form-welcome {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}

.btn {
    color:lightgray;
}

#btn-search {
    background-color: white;
    border-color: white;
    border: 1px solid lightgray;
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 50px;
    line-height: 40px;
    color: #E84e4e;
}


.fa-search {
    font-size: 18px;
    transition: 0.5s;
}

.fa-angle-left, .fa-angle-right {
    font-size: 50px;
    color:black;
}

.city-search {
    width: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.container-title {
    h1 {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }    
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: .5rem;
  }

.carousel-inner {
    padding-top: 20px;
    padding-bottom: 20px;
}

.active-carousel {
    justify-content: center;
}

.form-control-landing {
    width: 70%;
    height: 50px;
    border: 1px solid lightgray;
    border-right: 0;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;padding-left: 10px;
    font-size: 18px;   
}
.box-apt {
    width: 100%;
}
.box-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    .carousel {
        width: 100%;
      }
    .slide-box {
        display: flex;
        justify-content: space-between;
        .single-apt {
            display: flex;
            flex-direction: column;
            height: 330px;
            width: 240px;
            background-color: rgba(64, 64, 64, 1);
            margin: 10px;
            border-radius: 20px;
            transition: 0.3;
            h5, p {
                color: white;
            }
            .house-image {
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                height: 230px;
                width: 240px;
            }
        }   
    }

    .single-apt:active,
    .single-apt:hover {
        cursor: pointer;
        opacity: 80%;
        background-color: #E84e4e;
        transition: 0.3s;
        transform: scale(1.05);
    }

    #apt1 {
        box-shadow: 5px 5px 17px -8px rgba(0,0,0,1); -moz-box-shadow: 5px 5px 17px -8px rgba(0,0,0,1); box-shadow: 5px 5px 17px -8px rgba(0,0,0,1);
    }
    #apt2, #apt3 {
        box-shadow: 0px 5px 17px -8px rgba(0,0,0,1); -moz-box-shadow: 0px 5px 17px -8px rgba(0,0,0,1); box-shadow: 0px 5px 17px -8px rgba(0,0,0,1);
    }
    #apt4 {
        box-shadow: -5px 5px 17px -8px rgba(0,0,0,1); -moz-box-shadow: -5px 5px 17px -8px rgba(0,0,0,1); box-shadow: -5px 5px 17px -8px rgba(0,0,0,1);
    }
}
#details {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
}

.sponsor-title {
    padding-bottom: 30px;
}

.container {
    width: 100%;
    .details {
        padding: 0;
        list-style: none;
        li {
            text-align: center;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h4 {
                font-weight: bold;
            }
            .details-icon {
                width: 40px;
                height: 40px;
                padding-bottom: 10px;
                color: #E84e4e;
            }
            .details-text {
                width: 260px;
            }
        }
    }
}

#announce {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .container-announce {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 600px;
        .announce-title {
            width: 90%;
            h2 {
                color: black;
            }
        }
        .button-announce {
            width: 140px;
            height: 50px;
            margin-top: 30px;
            border-radius: 25px;
            line-height: 35px;
            font-size: 20px;
            background-color: rgba(0, 0, 0, 0.6);;
            border: none;
            transition: 0.5s;
        }
    }
}

//MEDIAQUERY

@media (max-width: 576px){
    .carousel-inner {
        padding: 20px;
    }

    .single-apt {
        height: 300px;
        width: 220px;
        background-color: rgba(64, 64, 64, 1);
        margin: 5px;
        border-radius: 20px;
        h5, p {
            color: white;
        }
        .house-image {
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            height: 200px;
            width: 220px;
        }
    } 
}
//FINE WELCOME-PAGE

//LOGIN-PAGE/REGISTER PAGE
.py-4 {
    background:  #ececec;
}

.image {
    height: 94vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.card-login {
    margin-top: 250px;
    border-radius: 25px;
}

.card-register {
    margin-top: 180px;
    border-radius: 25px;
}

@media (max-width: 768px){
    .card-register {
        margin-top: 50px;
    }
}

.form-control {
    width: 100%;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding-left: 10px;
    font-size: 18px;
    box-shadow: #E58788;
    outline: none;
}

.form-control:active,
.form-control:focus {
    box-shadow: none;
    border: 2px solid #e58788;
    outline: none;
}
  
  
.btn-family {
    border-radius: 25px;
    background-color: #E84E4E;
    border: 1px solid #E84e4e;
    transition: 0.5s;
    color: white;
}

.btn-family:hover,
.btn-family:active,
.btn-family:focus {
    background-color: #E58788;
    border: 1px solid #E58788;
    transform: scale(1.1);
    transition: 0.5s;
    color: white;
}

.btn-link {
    color: #E84e4e;
}

.btn-link:active,
.btn-link:hover {
    color: #E58788;
}
//FINE LOGIN-PAGE/REGISTER PAGE

//PAGE SEARCH APARTMENT
.form-control-search {
    width: 70%;
    height: 50px;
    border: 1px solid lightgray;
    border-right: 0;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;padding-left: 10px;
    font-size: 18px;   
}

.container-group {
    display: flex;
    flex-direction: row;
}

.label-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    .label-title {
        margin-top: 20px;
        margin-bottom: 0;
        margin-right: 20px;
        height: 50px;
        line-height: 45px;
        font-size: 18px;
        
    }
}

.value-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-search-filter {
    margin-top: 60px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form-search {
    margin-top: -16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box-form-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}

@media (max-width: 576px){
    .box-form-filter {
        border-radius: 0;
    }
}

.form-group {
    margin-top: 20px;
    margin-bottom: 0;
    .filter-input {
        height: 50px;
        width: 80px;
        border-radius: 25px;
        font-size: 18px;
        box-shadow: none;
        text-align: center;
        padding-left: 12px;
        border: 1px solid lightgray;
    }
    .filter-input:focus,
    .filter-input:active {
        box-shadow: none;
        border: 1px solid #E84e4e;
        outline: none;
    }
}

.input-group {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    .input-group-text {
        border-radius: 25px;
        background-color: white;
        margin: 10px;
        label {
            font-size: 16px;
            margin: auto;
            padding-right: 5px;
        }
    }
}

.append-house {
    margin-top: -44px;
    background-color: white;
}

.entry {
    padding-top: 20px;
    .card-apt {
        // height: 300px;
        padding: 20px;
        width: 84%;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        border-left: 0;
        border-right: 0;
        margin: auto;
        margin-bottom: 20px;
        .image-search-apt {
            height: 270px;
            width: 330px;
            border-radius: 25px;
        }
        .body-search-apt {
            padding-left: 20px;
            font-size: 17px;
            a {
                padding-bottom: 5px;
                color: black;
                font-weight: bold;
                transition: 0.3s; 
            }
            a:hover {
                transition: 0.3s;
                color: #E58788;
                text-decoration: none;
            }
            .first-p {
                border-top: 2px solid #E58788;
                padding-top: 1rem;
            }
            .last-p {
                font-weight: bold;
                font-size: 19px;
            }
        }
        
    }
}
@media (max-width: 992px) {
    .card-apt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 992px) {
    .card-apt {
        display: flex;
        flex-direction: row;
    }
}

//FINE LOGIN-PAGE/REGISTER PAGE

//INDEX HOST
#host_apartments {
    text-align: center;
    margin-top: 100px;
    h2 {
      color: black;
      margin-bottom: 50px;
    }
    .container_apartments {
      display: flex;
      flex-wrap: wrap;
      .single_apartment {
        width: 48%;
        margin: auto;
        background-color: rgba(64, 64, 64, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 25px;
        border-radius: 20px;
        height: 330px;
        box-shadow: 5px 5px 17px -8px rgba(0,0,0,1); -moz-box-shadow: 5px 5px 17px -8px rgba(0,0,0,1);
        box-shadow: 5px 5px 17px -8px rgba(0,0,0,1);
        color: white;
        .single_apartment_title {
          background-color: rgba(64, 64, 64, 1);
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 10%;
          h5 {
            margin: auto;
            font-size: 1.6em;
          }
        }
        .single_apartment_buttons {
          height: 12%;
          border-radius: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          a {
            background-color: black;
            color: white;
            padding: 8px;
            border-radius: 25px;
            text-transform: uppercase;
            font-size: 0.8em;
          }
          a:hover {
            background-color: #E58788;
            border: 1px solid #E58788;
            transform: scale(1.05);
            transition: 0.3s;
            text-decoration: none;
          }
        }
        .single_apartment_image {
          height: 78%;
          img {
            max-width: 90%;
            max-height: 100%;
            margin: auto;
          }
        }
      }
    }
  }
  @media (max-width: 576px){
      #host_apartments {
        .container_apartments {
          display: flex;
          .single_apartment {
            width: 80%;
            margin: auto;
            margin-bottom: 10px;
          }
        }
    }
  }
  @media (max-width: 768px){
    #host_apartments {
      .container_apartments {
        display: flex;
        .single_apartment {
          width: 80%;
          margin: auto;
          margin-bottom: 10px;
        }
      }
  }
  }
  .chart-container {
    border: 2px solid black;
    -webkit-box-shadow: 10px 10px 255px 130px rgba(130,126,130,1);
    -moz-box-shadow: 10px 10px 255px 130px rgba(130,126,130,1);
    box-shadow: 10px 10px 255px 130px rgba(130,126,130,1);
    left: 50%;
    top: 50%;
    height: auto;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
  }

  .hr-create {
    width: 60px;
    height: 2px;
    background-color: black;
    margin-bottom: 40px;
}
    .steps-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    h1{
        font-weight: bold;
        font-size: 50px;
        text-align: center;
    }
}

.hr-create {
    width: 60px;
    height: 2px;
    background-color: black;
    margin-bottom: 40px;
}
.steps-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    h1{
        font-weight: bold;
        font-size: 50px;
        text-align: center;
    }
}

.box-question{
    margin-top: 50px;
    .question {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .box-faq {
            width: 500px;
            margin: 15px;
            padding-bottom: 20px;
            border-bottom: 1px solid lightgray;
            .ask {
               display: none; 
            }
            .faq{
                color: lightseagreen;
            }
            .faq:hover{
                text-decoration-line: underline;
            }
            .fa-times-circle{
                color: #e84e4e;
                margin-left: 10px;
                font-size: 20px;
            }
        }
    }
}

 // FINE INDEX HOST

 //INIZIO CREATE-EDIT
 // APARTMENTS/CREATE
// MIXIN
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin h1-jumbo {
    font-size: 3em;
    text-align: center;
    opacity: 85%;
    color: white;
}
@mixin border-text {
    border: 1px solid white;
    background-color: rgba(87, 80, 80, 0.4);
    padding: 5px;
}
// JUMBO_CREATE
.jumbo-create{
    // background-image: url(“https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80”);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    .box-jumbo-create{
        @include flex-center;
        padding-top: 250px;
        .border-text {
            @include border-text;
        h1{
            @include h1-jumbo;
        }
      }
    }
}
// JUMBO-EDIT
.jumbo-edit {
    // background-image: url(“https://images.unsplash.com/photo-1467987506553-8f3916508521?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80”);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    @include flex-center;
    .box-jumbo-edit {
        @include flex-center;
        .border-text{
            @include border-text;
            h1 {
                @include h1-jumbo;
            }
        }
    }
}
.box-create-edit{
    padding: 5%;
    display: flex;
    justify-content: center;
    // SERVICES
    .box-services{
        display: flex;
        flex-direction: column;
        .all-services{
            display: flex;
            flex-direction: row;
            .checkbox-services{
                margin: 5px;
            }
        }
    }
    .services-box-create {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .flex-column{
            @include flex-center;
            flex-direction: column;
            .input-text {
                width: 60px;
                text-align: center;
            }
        }
    }
    .search-box {
        margin-top: 20px;
    }
}
.box-rent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    margin: auto;
    flex-wrap: wrap;
    padding: 5%;
    .rent{
        width: 400px;
    }
}
hr{
    width: 60px;
    height: 2px;
    background-color: black;
    margin-bottom: 50px;
}
.steps-text{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    h1{
        font-weight: bold;
    }
}
.box-steps{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5%;
    .box-check{
        width: 300px;
        .icon-box {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            .fa-check-circle{
                font-size: 30px;
            }
        }
    }
}
 //FINE CREATE-EDIT

//SPONSOR PAGE
#sponsor-container {
    background-color: rgba(255,255,255,0.4);
    #payment-form {
      .form-group {
        select {
          background-color: #E58788;
          color: white;
        }
        select:focus {
          border: 2px solid black;
          color: black;
        }
      }
    }
  }
 //FINE SPONSOR PAGE

 //SHOW APARTMENT PUBLIC
 .container-show-apt {
     width: 90%;
     margin: auto;
     margin-top: 80px;
     h1 {
         margin-top: 20px;
     }
     p {
         font-size: 18px;
     }
     .ul-services {
         display: inline-block;
         color: #e84e4e;
         font-size: 18px;
     }
     .container-show-image {
         width: 80%;
         img {
         border-radius: 25px;
         height: 100%;
         
         }
     }
     .container-show-info {
         display: flex;
         .p-info-box {
            height: 30px;
            border-radius: 25px;
            background-color: white;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            line-height: 17px;
            margin-right: 15px;
            border: 1px solid #e84e4e;
            margin-top: 20px;
         } 
     }
     .p-price {
         font-weight: bold;
         font-size: 20px;
         margin-top: 20px;
     }
     .container-show-message {
        width: 80%;
        margin: auto;
        background-color: white;
        border-radius: 25px;
        padding: 30px;
        .message-text-area {
           border-radius: 25px;
           width: 100%;
           height: 200px;
           border: 1px solid lightgray;
           outline: none;
           padding: 10px;
        }
        .dimension-text-area {
            width: 100%;
        }
    }
    #button-show {
        margin-top: 20px;
    }
 }

 @media(min-width: 576px) { 
    .container-show-info {
        flex-direction: row;
    }
    .container-show-image {
        height: 480px;
     }  
}

@media(max-width: 576px) { 
    .container-show-info {
        flex-direction: column;
        width: 200px;
    }
    .container-show-image {
        height: 250px;
        margin: auto;
     }  
}



 .alert-success {
     border-radius: 25px;
 }
//FINE SHOW APARTMENT PUBLIC

//SHOW APARTMENT HOST
.ul-services-host {
    display: inline-block;
    color: #e84e4e;
    font-size: 18px;
    margin-bottom: 50px;
}

.message-host {
    color: #E84e4e;
    border-top: 1px solid lightgray;
    padding-top: 10px;
}
.card-message-contact {
    border-radius: 25px;
    .card-sender {
        color: #e58788;
    }
}


